body {
  font-family: sans-serif;
}

#playground {
  background-color: green;
  position: absolute;
  left: 0px;
  top: 0px;
}

#snakeHead {
  background-color: yellow;
  position: absolute; 
  width: 20px;
  height: 20px;
}

.snakeBody {
  background-color: blue;
  position: absolute; 
  width: 20px;
  height: 20px;
}

#snakeFood {
  background-color: red;
  position: absolute; 
  width: 20px;
  height: 20px;
  outline: none;
}